/* -------------------------
Luke Prendergast
Copyright 2014
www.thefootballfrenzy.co.uk

Colours
----------
Blue: 4A91CD
Dark Grey: 222
Light Grey: CCC
Very Light Grey: EEE
Orange: B34826
Red: C52727
------------------------- */

@charset "utf-8";

h2
{
	margin: 50px 0 25px 0;
}

h3.team-name {font-style:italic; margin-bottom:20px; font-weight:normal; font-size:18px;}


/* account home */
.welcome
{
	background:  #4A91CD;
	color:       #FFF;
	padding:     35px;
	margin:      30px 0;
	font-size:   18px;
	line-height: 1.6;
}

.welcome a:link, .welcome a:visited 
{
	color:           #FFF;
	text-decoration: underline;
	font-weight:     bold;
}

.welcome a:hover 
{
	text-decoration: none;
}

.box-info, .box-link
{
	width:   28%;
	padding: 2%;
	height:  150px;
	margin-bottom: 20px;
}

.box-info
{
	background-color: #F1F1F1;
}

.box-info:link, .box-info:visited
{
	color: #222;
}

.box-link:link
{
	text-align:     center;
	line-height:    150px;
	font-size:      22px;
	letter-spacing: -1px;
}

.box-link:link, .box-link:visited
{
	color: #FFF;
}

.box-info:hover
{
	background-color: #EEE;
}

.box-info:hover, .box-link:hover
{
	text-decoration: none;
}

span.team-name
{
	font-size:     22px;
	display:       block;
	text-align:    center;
	margin-bottom: 20px;
}

span.box-text
{
	line-height: 25px;	
}

/* submit team page */
a.show-hide
{
	padding: 18px 18px 18px 38px;
	color:   #4A91CD;
	display: block;
	margin:  20px 0 0 0;
}

a.show-hide:hover, a.open, #points
{
	background-color: #EEE;
}

a.show-hide:hover
{
	background-color:   #F2F2F2;
	cursor:             pointer;
	text-decoration:    none;
	-webkit-transition: 0.5s;
	-moz-transition:    0.5s;
	-o-transition:      0.5s;
	transition:         0.5s;
}

a.closed, a.open
{
	background-position: 8px center;
	background-repeat:   no-repeat;
}

a.closed
{
	background-image: url(../img/layout/open.png);
}

a.open
{
	background-image: url(../img/layout/close.png);
}

#points
{
	padding: 18px;
}

#points h3
{
	margin: 0 0 20px 0;
}

#points p, #points li
{
	font-size: 13px;
}

#teams-list, #budget-submit
{
	margin-top: 40px;
}

#teams-list
{
	width:   62%;
	float:   left;
	padding: 0;
}

#teams-list table
{
	margin-bottom: 20px;
}

#teams-list table th
{
	text-align: center;
}

#teams-list table td
{
	font-size: 14px;
}

#teams-list table td.align-right
{
	font-weight: 400;
}

#teams-list table tr.table-sub-header td
{
	font-weight: 300;
	padding:     4px;
}

#budget-submit
{
	width:      35%;
	float:      right;
	background: #F1F1F1;
	padding:    0;
}

.fixed-wrapper
{
	position: fixed;
	top:      0;
	right:    0;
}

#budget-submit input
{
	margin: 0;
	width:  100%;
}

#budget
{
	padding: 15px;
}

#budget-submit h4, .budget, .remaining
{
	display:    block;
	text-align: center;
}

#budget-submit h4
{
	font-size:        16px;
	font-weight:      400;
	text-transform:   uppercase;
	background-color: #444;
	color:            #FFF;
	padding:          15px;
	margin:           0;
}

.remaining
{
	border-bottom: 1px solid #CCC;
}

.budget
{
	margin-bottom: 15px;
}

.budget, .remaining
{
	font-size:   28px;
	font-weight: bold;
	padding:     10px;
}

.positive
{
	color: #009245;
}

.negative
{
	color: #C52727;
}

/* overwrite some forms styles */
h3
{
	border-bottom: solid 1px #BBB;
}

#transfer.form
{
	margin: 10px 0;
}

#transfer.form label
{
	width: auto;
	text-align: left;
	line-height: 55px;
}

#transfer.form input {
    width:250px;
}

#transfer.form input.button {
    margin: 0;
}

#transfer.form select {
    background-color: #FFF;
	height: 55px;
}

/*** MEDIA QUERIES FOR RESPONSIVE LAYOUT ***/

@media (max-width: 800px)
{
	#transfer.form label, #transfer.form input, #transfer.form select {
		width: 100%;
		float: none;
	}
}
@media (max-width: 600px)
{
	#teams-list
	{
		width: 60%;
	}
	
	#teams-list table td
	{
		font-size: 12px;
	}
	
	#budget-submit
	{
		width: 37%;
	}
	
	.budget, .remaining
	{
		font-size: 22px;
		padding:   6px;
	}
}
@media (max-width: 400px)
{
	#teams-list
	{
		width: 53%;
	}
	
	#teams-list table td
	{
		font-size: 11px;
	}
	
	#budget-submit
	{
		width: 37%;
	}
	
	#budget-submit h4
	{
		font-size: 14px;
		padding:   10px;
	}
	
	.budget, .remaining
	{
		font-size: 15px;
		padding:   3px 0;
	}

	#budget-submit input
	{
		font-size:   13px;
		height:      45px;
		line-height: 45px;
	}
}