/* -------------------------
Luke Prendergast
Copyright 2014
www.thefootballfrenzy.co.uk

Colours
----------
Blue: 4A91CD
Dark Grey: 222
Light Grey: CCC
Very Light Grey: EEE
Orange: B34826
Red: C52727
------------------------- */

@charset "utf-8";

header {float: none;}

#login {margin:120px auto 0; width:300px; padding:40px; background-color:#FFF;}
#login, #login input {-webkit-border-radius:3px; border-radius:3px; -webkit-box-shadow:0 1px 2px rgba(0,0,0,0.15); box-shadow:0 1px 2px rgba(0,0,0,0.15);}
#login label {clear:left; float:left; font-size:15px; font-weight:bold; display:block; width:100px; height:40px; line-height:40px; color:#777;}
#login input[type="text"], #login input[type="password"] {width:150px; height:28px; margin:5px 0; padding:0; float:right; border:1px solid #CCC;}
#login input[type="submit"] {width:100px; height:38px; margin:20px 100px 0; padding:0; border:1px solid #CCC; background:#777; font-size:13px; color:#FFF;}
#login input[type="submit"]:hover {background:#555; -webkit-transition:0.5s; -moz-transition:0.5s; -o-transition:0.5s; transition:0.5s;}

.header {padding-top:15px; font-size:12px; margin-bottom:40px;}

/* Admin Navigation */
#menu {background-color:#EEE; height:46px;margin-bottom:40px;}
nav.nav-collapse {font-size:14px; text-transform:none; font-weight:300;}
nav.nav-collapse ul {float:none;}
nav.nav-collapse li a {color:#333; border-right:none; margin:0; padding:16px; border-right:1px solid #DDD; font-weight:300 !important;}
nav.nav-collapse li:last-child a {border-right:none;}
nav.nav-collapse li a:link {color:#333;}
nav.nav-collapse li a:hover {background-color:#DDD;}
nav.nav-collapse li ul {position:fixed; width:100%; background:#DDD; -webkit-box-shadow:none; -moz-box-shadow:none; box-shadow:none;}
nav.nav-collapse li li {float:left;}
nav.nav-collapse li:hover li a {color:#222;}
nav.nav-collapse li ul a {border-bottom:none;}

@media (max-width: 600px)
{
	header .logo {width:300px;}
	
	/* Site Navigation */
	nav.nav-collapse ul {background:#EEE;}
	
	nav.nav-collapse li ul {position:relative;}
	nav.nav-collapse li ul li a {background:#EEE;}
	/* Site Navigation End */
}