/* -------------------------
Luke Prendergast
Copyright 2014
www.thefootballfrenzy.co.uk

Colours
----------
Blue: 4A91CD
Dark Grey: 222
Light Grey: CCC
Very Light Grey: EEE
Orange: B34826
Red: C52727
------------------------- */

@charset "utf-8";

.form {margin:40px 0;}
.form div {padding:5px;}
.form h2 {border-bottom:1px solid #4A91CD; width:100%; margin:40px 0 20px;}

.form label, .form input, .form textarea, .form select {font-family:'Open Sans', sans-serif;}
.form input, .form textarea, .form select {border-radius:0; -moz-border-radius:0; -webkit-border-radius:0; box-sizing:border-box; font-size:13px; color:#666; padding:5px; background-color:#F5F5F5; border:1px solid #FFF;}
.form label {float:left; font-size:14px; display:block; width:145px; color:#444; line-height:40px; text-align:right; padding-right:10px;}
.form label em {font-size:11px; color:#888;}
.form input, .form select {width:220px; height:40px;}
.form input.rad {width:auto; border:none; padding:7px 0 0 0; height:auto;}
.form textarea {width:350px; height:175px;}
.form input:hover, .form input:focus, .form textarea:hover, .form textarea:focus, .form select:hover, .form select:focus {border:1px solid #4A91CD;}
.form input.rad:hover, .form input.rad:focus {border:none;}
.form input.button {color:#FFF; font-size:14px; border:0; padding:0; height:55px; line-height:55px; margin:20px 0 20px 165px; background-color:#4A91CD;}
.form input.button:hover {background-color:#669ed4; cursor:pointer;}
a:hover {text-decoration:none;}

/* login */
#login-form, #register {float:left;}
#login-form {padding-right:2%; border-right:1px dotted #CCC; width:60%; margin-bottom:50px;}
#register {padding-left:2%; width:35%;}

/* leaderboard team finder */
.ldb-fnd {margin-bottom:20px;}
.ldb-fnd div {padding:10px;}
.ldb-fnd label, .ldb-fnd input {margin-right:15px;}
.ldb-fnd label {font-size:13px; font-weight:bold; text-align:left;}
.ldb-fnd input {border-radius:0; -moz-border-radius:0; -webkit-border-radius:0; font-size:13px; color:#666; padding:10px 5px; background-color:#FFF; border:1px solid #FFF; width:220px;}
.ldb-fnd input:hover, .ldb-fnd input:focus {border:1px solid #4A91CD;}
.ldb-fnd input.button {color:#FFF; border:1px solid #B34826; background-color:#B34826; width:60px;}
.ldb-fnd input.button:hover {background-color:#bc6039; cursor:pointer;}

/* Mini Forms */
.mini-form {width: 100%; overflow: auto; padding: 10px; background-color: #ccc;}
.mini-form label {font-size:13px; font-weight:bold; text-align:left; margin-right:10px;}
.mini-form input, .mini-form select {font-family:'Open Sans', sans-serif;}
.mini-form div, .mini-form input, .mini-form select, .mini-form label {float:left; height:35px; line-height:35px;}
.mini-form div {margin-bottom:0;}
.mini-form select {margin-right:10px;}
.mini-form input.button {color:#FFF; border:1px solid #B34826; background-color:#B34826; padding:0 10px;}
.mini-form input.button:hover {background-color:#bc6039; cursor:pointer;}


/*** MEDIA QUERIES FOR RESPONSIVE LAYOUT ***/

@media (max-width: 1000px)
{
	
}
@media (max-width: 800px)
{
	
}
@media (max-width: 675px)
{
	
}
@media (max-width: 600px)
{
	/* leaderboard team finder */
	.ldb-fnd {margin-bottom:15px;}
	.ldb-fnd div {padding:8px;}
	.ldb-fnd label, .ldb-fnd input {margin-right:8px;}
	.ldb-fnd label {font-size:12px;}
	.ldb-fnd input {font-size:12px; width:150px;}
	.ldb-fnd input.button {width:60px;}
}
@media (max-width: 500px)
{
	
}
@media (max-width: 400px)
{
	.ldb-fnd label {display:none;}
}