/* -------------------------
Luke Prendergast
Copyright 2014
www.thefootballfrenzy.co.uk

Colours
----------
Blue: 4A91CD
Dark Grey: 222
Light Grey: CCC
Very Light Grey: EEE
Orange: B34826
Red: C52727
------------------------- */

@charset "utf-8";

#home-banner {background:url(../img/layout/home-banner1.jpg) no-repeat center center; padding:20px 0; height:260px;}
#home-banner .content {padding:45px 20px 0 0; width:auto;}
#home-banner .content h1, #home-banner .content li {color:#FFF; text-transform:uppercase; font-weight:bold; padding:3px 0; line-height:0.9; text-align:right;}
#home-banner .content h1 {font-size:49px; margin:0 0 15px 0;}
#home-banner .content h1 span {font-weight:300;}
#home-banner .content li {font-size:22px; display:inline;}
#home-banner .content ul {margin:0 auto 14px auto;}
#home-banner .content #center-list {text-align:right;}
	
#home-banner .content ul span {background:#FFF; opacity:0.6; display:inline-block; width:14px; height:14px; margin:0 4px 0 8px; line-height:0.2;}
#home-banner .content a {width:180px; display:block; float:right; font-size:16px; text-align:center; font-weight:bold; text-transform:uppercase; color:#FFF; padding:20px 0;}
#home-banner .content a:hover {text-decoration:none;}
#home-banner .content br.show-1, #home-banner .content br.show-2, #home-banner .content br.show-3 {display:none;}

#home-intro {padding:30px 0;}
#home-intro p.intro {font-size:24px; letter-spacing:-1px; margin-bottom:15px; font-weight:400;}
#home-intro p.intro strong {color:#4A91CD;}
#home-intro p {font-size:18px;}

#news-section-one img, #news-section-two img {float:left; border-color:#BBB; border-style:solid;}
#news-section-one h3, #news-section-two h3, #news-section-three h3 {font-weight:normal;}
#news-section-one h3 a, #news-section-two a {color:#666;}
#news-section-one span.date, #news-section-two span.date, #news-section-three span.date {color:#4A91CD; display:block; margin-top:2px;}

#news-section-one {padding-bottom:10px; border-bottom:solid 1px #CCC;}
#news-section-one img {width:175px; height:175px; margin-right:15px; border-width:5px;}
#news-section-one h3, #news-section-one p, #news-section-one a.btn {margin:0 0 0 200px;}
#news-section-one h3 {font-size:23px;}
#news-section-one span.date {margin-bottom:8px;}
#news-section-one p {margin-bottom:4px; font-size:15px;}

#news-section-two {float:left; width:60%; margin-right:2%;}
#news-section-two div {padding:10px;}
#news-section-two img {width:120px; height:120px; margin-right:10px; border-width:3px;}
#news-section-two h3 {font-size:19px; margin:0 0 0 130px;}
#news-section-two span.date {font-size:14px; margin-bottom:10px;}

#news-section-three {margin-left:62%;}
#news-section-three a {display:block; padding:8px;}
#news-section-three a:hover {background-color:#4A91CD; color:#FFF; text-decoration:none;}
#news-section-three a:hover h3, #news-section-three a:hover span.date {color:#FFF; text-decoration:none;}
#news-section-three h3 {font-size:15px; margin:0; font-weight:normal;}
#news-section-three span.date {font-size:13px; margin-bottom:0;}

a.news {margin-left:62%;}

/*** MEDIA QUERIES FOR RESPONSIVE LAYOUT ***/

@media (max-width: 1000px)
{
	#home-banner .content h1 {font-size:40px;}
	#home-banner .content li {font-size:19px;}
}
@media (max-width: 800px)
{
	#home-banner .content h1 {font-size:36px;}
	#home-banner .content li {font-size:25px; line-height:1.2;}
	#home-banner .content br.show-1 {display:block;}
	#home-banner .content span.hide-1 {display:none;}
}
@media (max-width: 675px)
{
	#home-banner .content h1 {font-size:32px;}
}
@media (max-width: 600px)
{
	#home-banner .content {padding:8px 20px;}
	#home-banner .content h1 {line-height:1;}
	#home-banner .content br.show-3 {display:block;}
}
@media (max-width: 500px)
{
	#home-banner .content h1 {font-size:44px;}
	#home-banner .content br.show-2 {display:block;}
	#home-banner .content .hide-3 {display:none;}
	#home-banner .content a {width:100%; font-size:20px;}
}