/* -------------------------
Luke Prendergast
Copyright 2015
www.thefootballfrenzy.co.uk
------------------------- */

@charset "utf-8";
@import 'mixins.less';

body {background:@blue; font-family:'Open Sans', sans-serif;}

/*** CONTENT CLASSES ***/

h1 {font-size:50px; color:#222; margin:20px 0 50px 0; letter-spacing:-3px; font-weight:300;}
h2 {font-size:15px; color:@blue; margin:30px 0 10px 0; text-transform:uppercase;}
h3 {font-size:14px; color:#666; margin:15px 0 10px 0;}
h4 {font-size:12px; color:#222; margin:0 0 10px 0;}
h2, h3, h4 {font-weight:bold;}
p, ul.list-none li, ul.list-points li {font-size:14px; color:#222; line-height:1.4;}
p {margin:0 0 10px 0;}
.error, .success {padding:15px 60px; background-repeat:no-repeat; background-position:10px 15px; margin-bottom:20px;}
.error {color:#C52727; background-color:#f3d4d4; background-image:url(../img/content/error.png);}
.success {color:#218d44; background-color:#c6d6cb; background-image:url(../img/content/success.png);}
.last-update {font-size:13px; font-style:italic; color:#AAA; margin-bottom:10px; display:block;}
.breadcrumb {font-size:13px; margin-bottom:20px;}
ul.list-none li, ul.list-points li {margin:5px 0;}
ul.list-none li a {color:@blue;}
ul.list-points, ul.list-none {margin:10px 0;}
ul.list-points li {list-style-type:disc; margin:5px 20px;}
a:link, a:visited {color:@blue; text-decoration:none;}
a:hover {text-decoration:underline;}
strong {font-weight:bold;}
span.points {font-size:9px;}

/* Table Styles */
table {width:100%;}
table td {padding:8px 7px; color:#222; font-size:12px;}
thead th {padding:10px 0; color:#FFF; background-color:#444; font-size:14px; text-align:left;}
thead.short th {padding:8px 0; font-size:12px; font-weight:bold;}
thead th span {padding:0 7px;}
.table-sub-header td {background-color:#C5C5C5; text-align:center; font-weight:bold;}

.table-row0 {background-color:#FFF;}
.table-row1 {background-color:#EEE;}
tr.table-row0:hover td, tr.table-row1:hover td, tr.table-row0:hover td a:link, tr.table-row1:hover td a:link, .my-teams td, .my-teams a:link {background-color:@blue; color:#FFF; text-decoration:none;}
#league-separator td {border-bottom:1px dashed #222;}
.my-teams td {padding:12px 7px;}
td.up, td.down, td.same {background-position:7px center; background-repeat:no-repeat; font-weight:bold; width:26px; padding-left:25px;}
td.up {background-image:url(../img/content/up.png)}
td.down {background-image:url(../img/content/down.png);}
td.same {background-image:url(../img/content/same.png);}
td.badge {background-position:7px center; background-repeat:no-repeat; padding-left:28px;}
tr.table-row0:hover td.badge, tr.table-row1:hover td.badge {background-image:url(../img/content/white-team-badge.png);}
tr.table-row0:hover td.up, tr.table-row1:hover td.up {background-image:url(../img/content/up-white.png);}
tr.table-row0:hover td.down, tr.table-row1:hover td.down {background-image:url(../img/content/down-white.png);}
tr.table-row0:hover td.same, tr.table-row1:hover td.same {background-image:url(../img/content/same-white.png);}
.stretch-child td.align-right, .align-right {text-align:right;}
.stretch-child td.align-center, .align-center {text-align:center;}

/* For use with fixed header on tables and scroll up function */
.container{width:100%;margin:auto;position:relative;}
.fixed {top:0; position:fixed; width:auto; display:none; border:none;}
.scroll-up {margin-top:100px; text-align:center; cursor:pointer; font-size:20px;}
/* Table Styles End */

/* Site Map */
ul.level-1 {font-weight:bold;}
ul.level-1 li {margin-bottom:10px;}
ul.list-none ul {margin-left:20px; margin-bottom:20px; font-weight:normal;}
ul.list-none ul ul {margin-left:20px;}
/* Site Map End */


/*** LAYOUT CLASSES ***/

.blue {background-color:@blue;}
.blue:hover {background-color:#669ed4;}
.orange {background-color:#B34826;}
.orange:hover {background-color:#bc6039;}
.dark-grey {background-color:#222;}
.dark-grey:hover {background-color:#393737;}
.light-grey {background-color:#CCC;}
.very-light-grey {background-color:#EEE;}
.white {background-color:#FFF;}

.no-border {border:none;}
.no-padding {padding:0;}

.float-left {float:left;}
.float-right {float:right;}

.margin-right {margin-right:14px;}

.stretch-parent {width:100%; margin:0 auto; text-align:justify; -ms-text-justify:distribute-all-lines; text-justify:distribute-all-lines;}
.stretch-child {vertical-align:top; display:inline-block; *display:inline; zoom:1;}
.stretch-child p, .stretch-child h2, .stretch-child h3, .stretch-child td {text-align:left;}
.stretch {width:100%; display:inline-block; font-size:0; line-height:0}

.clearfloat {clear:both; height:0; font-size:1px; line-height:0;}

a.btn {display:block; padding:10px 16px; font-size:14px; margin-top:10px; color:#FFF; text-align:center;}
a.btn:hover {text-decoration:none;}

/* Sections */
.row {clear:both; padding:0; margin:0 0 14px 0;}
.row h2 {margin:0; padding:10px; border-bottom:solid 1px #DDD; background:#F2F2F2;}
.row p {margin:0 0 4px 0; font-size:13px;}
/* Sections End */

/* Column Setup */
.col-1-x-1, .col-1-x-1-5, .col-1-x-2, .col-1-x-3 {width:34%;}
.col-2-x-1, .col-2-x-1-5, .col-2-x-2, .col-2-x-3 {width:64%;}
.col-3-x-1, .col-3-x-1-5, .col-3-x-2, .col-3-x-3 {width:100%;}
.col-1-x-1, .col-2-x-1, .col-3-x-1 {min-height:200px;}
.col-1-x-1-5, .col-2-x-1-5, .col-3-x-1-5 {min-height:300px;}
.col-1-x-2, .col-2-x-2, .col-3-x-2 {min-height:400px;}
.col-1-x-3, .col-2-x-3, .col-3-x-3 {min-height:600px;}
.col-1-x-1, .col-1-x-1-5, .col-1-x-2, .col-1-x-3, .col-2-x-1, .col-2-x-1-5, .col-2-x-2, .col-2-x-3, .col-3-x-1, .col-3-x-1-5, .col-3-x-2, .col-3-x-3 {overflow:hidden;}

.col-1-x-2 div {height:193px; margin-bottom:14px;}
/* Column Setup End */


/*** MASTER LAYOUT ***/

header, footer {float:left; min-width:100%; border-top:5px solid @blue;}
.content {max-width:960px; margin:0 auto; padding:0 10px;}
.inner-container {padding:10px;}
header .logo {float:left; margin:17px 0; border:0;}
#main-content {margin-right:300px; padding-bottom:40px;}
#menu-bar {background-color:#222;}

/* EU Cookie Law */
#eucookielaw {display:none; background-color:@blue;}
#eucookielaw .content {padding:10px;}
#eucookielaw p {color:#EEE; font-size:13px; margin:0;}
#eucookielaw a {cursor:pointer;}
#eucookielaw a:hover {text-decoration:none;}

/* Site Navigation */
nav.nav-collapse {width:auto; height:auto; margin:0 auto; padding:0; font-size:11px; text-transform:uppercase; font-weight:bold;}
nav.nav-collapse ul {width:auto; list-style:none; margin:0; padding:0; float:right; display:block;}
nav.nav-collapse li {float:left; padding:0; display:block;}
nav.nav-collapse li a {display:block; padding:12px 20px; border-right:1px solid #555; margin:8px 0; color:#FFF;}
nav.nav-collapse li a.no-border {border:none;}
nav.nav-collapse li a:link {text-decoration:none; color:#FFF;}
nav.nav-collapse li span {font-size:18px; font-weight:normal; line-height:1; text-transform:none;}
nav.nav-collapse li a:hover, nav.nav-collapse li a.active {color:@blue;}
nav.nav-collapse li.alignRight {position:relative;}
nav.nav-collapse li.alignRight ul {right:1px; text-align:right;}
nav.nav-collapse li ul {background:#BBB; display:none; height:auto; margin:0; padding:0; border:none; position:absolute; width:160px; z-index:200; border-top:2px solid @blue; -webkit-box-shadow:0 0 3px 0 #444; -moz-box-shadow:0 0 3px 0 #444; box-shadow:0 0 3px 0 #444;}
nav.nav-collapse li:hover ul {display:block;}
nav.nav-collapse li li {display:block; float:none; margin:0; padding:0;}
nav.nav-collapse li:hover li a {background:none; color:#222;}
nav.nav-collapse li ul a {display:block; font-size:13px; text-transform:none; font-weight:normal; font-style:normal; border-right:0; border-bottom:#AAA solid 1px; margin:0; padding:12px 20px;}
nav.nav-collapse li ul a.border-bottom {border-bottom:#888 1px solid;}
nav.nav-collapse li ul a:hover, nav.nav-collapse li ul li:hover a {background:@blue; color:#FFF; text-decoration:none;}
nav.nav-collapse p {clear:left;}
nav.nav-collapse li.team-info {background:#444; color:#EEE; font-size:10px; text-transform:uppercase; padding:6px 20px; margin:0; font-weight:normal;}

.js .nav-collapse {clip:rect(0 0 0 0); max-height:0; position:absolute; display:block; zoom:1;}
.nav-collapse.opened {max-height:9999px;}
.disable-pointer-events {pointer-events:none !important;}
.nav-toggle {-webkit-tap-highlight-color:rgba(0,0,0,0); -webkit-touch-callout:none; -webkit-user-select:none; -moz-user-select:none; -ms-user-select:none; -o-user-select:none; user-select:none;}
/* Site Navigation End */

/* Login */
#login {margin:14px 0; width:auto; padding:13px;}
#login form {margin:0; width:auto;}
#login input {padding:5px; margin:0; height:25px; border:none; font-family:'Open Sans', sans-serif; float:left; cursor:pointer;}
#login input.text {color:#222; font-size:15px; margin-right:10px; width:220px; border:1px solid #FFF; line-height:25px;}
#login input.text:hover, #login input.text:focus {border:1px solid @blue;}
#login .button {height:37px; width:120px;}
#login .button.float-right {margin-left:10px;}
#login p, #login .button a {line-height:37px;}
#login .button a {display:block; text-decoration:none; text-align:center;}
#login .button input, #login .button a {color:#FFF; height:100%; width:100%; font-size:12px;}
#login p {margin:0;}
/* Login End */

/* Footer */
footer {background:#222; padding-top:50px;}
footer p {color:#FFF;}
footer li a:link, footer li a:visited {color:@blue;}
footer h4, footer li {font-size:14px;}
footer h4 {font-weight:bold; color:#FFF; margin:0 0 20px 0; border-bottom:solid 1px #555; padding-bottom:2px; text-align:left;}
footer li {margin:0 0 8px 0; text-align:left;}
footer li a:link, footer li a:visited {text-decoration:none;}
footer li a:hover {text-decoration:underline;}
footer div.stretch-child {width:30%; margin:0 0 40px 0; height:100%;}
footer p {clear:both; border-top:1px #555 solid; font-size:12px; text-align:center; margin:0; padding:10px 0;}
/* Footer End */

/* Leaderboard */
a.ldb-btn {width:59%; padding:15px 0; font-size:15px; color:#FFF; text-align:center; margin-bottom:14px;}
a.ldb-btn:hover {text-decoration:none;}
a.opaque {background-color:#EEE; color:#222; width:19%;}
a.opaque:hover {color:#FFF;}
/* Leaderboard End */


/*** MEDIA QUERIES FOR RESPONSIVE LAYOUT ***/

@media (max-width: 1000px)
{
	table td {padding:7px 3px;}
	thead th span {padding:0 3px;}
	td.up, td.down, td.same {width:42px;}
	
	/* Site Navigation */
	header .logo {width:30%}
	nav.nav-collapse li a {padding-left:15px; padding-right:15px;}
	/* Site Navigation End */
	
	/* Login */
	#login {padding:8px;}
	#login input {padding:3px;}
	#login input.text {font-size:14px; margin-right:8px; width:200px;}
	#login .button {height:33px; width:100px;}
	#login .button.float-right {margin-left:8px;}
	#login .button a, #login p {line-height:33px;}
	/* Login End */
}
@media (max-width: 800px)
{
	table {font-size:11px;}
	
	a.btn {padding:10px; font-size:12px;}
	
	/* Site Navigation */
	nav.nav-collapse li a {padding-left:10px; padding-right:10px;}
	nav.nav-collapse li span {font-size:15px;}
	/* Site Navigation End */
	
	/* Login */
	#login input.text {font-size:13px; width:160px;}
	#login .button {width:80px;}
	/* Login End */
	
	/* Column Setup */
	.col-1-x-1, .col-2-x-1, .col-3-x-1, .col-1-x-1-5, .col-2-x-1-5, .col-3-x-1-5, .col-1-x-2, .col-2-x-2, .col-3-x-2, .col-1-x-3, .col-2-x-3, .col-3-x-3 {height:auto;}
	.col-1-x-1, .col-1-x-1-5, .col-1-x-2, .col-1-x-3, .col-2-x-1, .col-2-x-1-5, .col-2-x-2, .col-2-x-3 {width:100%;}
	.col-1-x-1, .col-1-x-1-5, .col-1-x-2, .col-1-x-3, .col-2-x-1, .col-2-x-1-5, .col-2-x-2, .col-2-x-3, .col-3-x-1, .col-3-x-1-5, .col-3-x-2, .col-3-x-3 {margin-bottom:14px;}
	
	.col-1-x-2 div {height:auto; margin-bottom:0;}
	/* Column Setup End */
	
	/* Sections */
	.row {margin-bottom:0;}
	/* Sections End */
}
@media (max-width: 675px)
{
	table {font-size:13px;}
	
	a.btn {padding:10px 16px; font-size:14px;}
	
	/* Site Navigation */
	nav.nav-collapse {font-size:10px;}
	nav.nav-collapse li a {padding-left:6px; padding-right:6px;}
	nav.nav-collapse li span {font-size:14px;}
	nav.nav-collapse li:hover ul {display:none;}
	/* Site Navigation End */
	
	/* Login */
	#login {padding:6px;}
	#login input.text {margin-right:6px; width:140px;}
	#login .button {width:75px;}
	#login .button.float-right {margin-left:6px;}
	#login .button input, #login .button a {font-size:11px;}
	#login p {font-size:12px;}
	/* Login End */
	
	/* Leaderboard */
	a.ldb-btn {font-size:13px;}
	/* Leaderboard End */
}
@media (min-width: 600px)
{
	/* Site Navigation */
	.js .nav-collapse {position:relative;}
	.js .nav-collapse.closed {max-height:none;}
	.nav-toggle {display:none;}
	/* Site Navigation End */
}
@media (max-width: 600px)
{
	header .logo {width:300px;}
	
	/* Site Navigation */
	.nav-toggle {background:url(../img/layout/menu.png) no-repeat; width:30px; height:25px; display:block; float:right; margin:17px 0;}
	nav.nav-collapse ul {width:100%;}
	nav.nav-collapse li {width:100%; text-align:center;}
	nav.nav-collapse li br {display:none;}
	
	nav.nav-collapse {font-size:15px; text-transform:none; font-weight:normal;}
	nav.nav-collapse li a {padding:15px 0; border-right:none; border-bottom:1px solid #555; margin:0;}
	nav.nav-collapse li span {font-size:inherit;}
	/* Site Navigation End */
	
	/* Login */
	#login input.text {margin-right:4px; width:110px;}
	#login .button {width:65px;}
	#login .button.float-right {margin-left:4px;}
	#login .button input, #login .button a {font-size:10px;}
	/* Login End */
}
@media (max-width: 500px)
{
	h1 {font-size:45px;}
	.last-update {font-size:12px;}
	
	table td, thead th {font-size:11px;}
	thead th {font-weight:bold;}
	
	header .logo {width:180px;}
	
	/* Login */
	#login {padding:5px 5px 0 5px;}
	#login input.text, #login .button.float-left, #login .button.float-right {-webkit-box-sizing:border-box; -moz-box-sizing:border-box; box-sizing:border-box; margin:0 0 5px 0;}
	#login input.text, #login .button.float-left {width:100%;}
	#login .button.float-right {width:50%;}
	#login .button input, #login .button a, #login p {font-size:13px;}
	#login p {margin-bottom:8px; line-height:1.4;}
	/* Login End */
	
	/* Footer */
	footer {padding-top:20px;}
	footer h4 {margin:20px 0 8px 0;}
	footer ul {margin:0 0 20px 0; height:100%; width:100%;}
	footer p {font-size:11px; padding:8px 0;}
	footer .stretch-parent {width:100%; margin:0 auto; text-align:left; -ms-text-justify:auto; text-justify:auto;}
	footer .stretch-child {vertical-align:auto; display:block; *display:block;}
	footer .stretch {display:none;}
	/* Footer End */
	
	/* Leaderboard */
	a.ldb-btn {width:58%; font-size:12px;}
	a.opaque {width:19%;}
	/* Leaderboard End */
}
@media (max-width: 400px)
{
	.last-update {font-size:11px;}
	
	table td, thead th {font-size:12px;}
	table td, .my-teams td {padding:6px 2px;}
	table th {padding:6px 0;}
	thead th span {padding:0 2px;}
	th.hidden, td.hidden {display:none;}
	td.up, td.down, td.same {background-image:none; width:auto; padding-left:4px;}
	td.badge {background-image:none; padding-left:4px;}
	tr.table-row0:hover td.badge, tr.table-row1:hover td.badge, tr.table-row0:hover td.up, tr.table-row1:hover td.up, tr.table-row0:hover td.down, tr.table-row1:hover td.down, tr.table-row0:hover td.same, tr.table-row1:hover td.same {background-image:none;}
}