/* -------------------------
Luke Prendergast
Copyright 2014
www.thefootballfrenzy.co.uk

Colours
----------
Blue: 4A91CD
Dark Grey: 222
Light Grey: CCC
Very Light Grey: EEE
Orange: B34826
Red: C52727
------------------------- */

@charset "utf-8";

body {background:#FCFCFC; font-family:'Open Sans', sans-serif;}

/*** CONTENT CLASSES ***/

h1 {font-size:50px; color:#222; margin:20px 0 50px 0; letter-spacing:-3px; font-weight:300;}
h2 {font-size:35px; color:#4A91CD; margin:30px 0; letter-spacing:-2px; font-weight:300;}
h3 {font-size:17px; color:#666; margin:15px 0 10px 0; letter-spacing:-1px; font-weight:bold;}
h4 {font-size:16px; color:#444; margin:0 0 10px 0; letter-spacing:-1px;}
p, ul.list-none li, ul.list-points li {font-size:16px; color:#333; line-height:1.4; letter-spacing:-0.25px;}
p {margin:0 0 10px 0;}
.error, .success {padding:25px 70px; background-repeat:no-repeat; background-position:10px 15px; margin-bottom:20px;}
.error {color:#C52727; background-color:#f3d4d4; background-image:url(../img/content/error.png);}
.success {color:#218d44; background-color:#c6d6cb; background-image:url(../img/content/success.png);}
.last-update {font-size:13px; font-style:italic; color:#AAA; margin-bottom:10px; display:block;}
ul.list-none li, ul.list-points li {margin:5px 0;}
ul.list-none li a {color:#4A91CD;}
ul.list-points, ul.list-none {margin:10px 0;}
ul.list-points li {list-style-type:disc; margin:5px 20px;}
a:link, a:visited {color:#4A91CD; text-decoration:none;}
a:hover {text-decoration:underline;}
strong {font-weight:bold;}
span.points {font-size:9px;}

/* Table Styles */
table {width:100%;}
table td {padding:10px 7px; color:#222; font-size:12px;}
thead th {padding:10px 0; color:#555; font-size:14px; letter-spacing:-1px; background-color:#ddd; text-align:left;}
table.short {margin-top: 20px;}
thead th span {padding:0 7px;}
.table-sub-header td {background-color:#C5C5C5; text-align:center; font-weight:bold;}

/* used for home page matches */
table td span {padding:0 7px;}
table td.date {font-size:17px; color:#444; padding:15px 0 10px 0; margin:0 0 10px 0; letter-spacing:-1px;}
table td.competition {padding:10px 0; color:#555; font-size:14px; letter-spacing:-1px; background-color:#ddd; text-align:left;}

table.short .hide {display:none;}
.table-row0 {background-color:#FFF;}
.table-row1 {background-color:#F4F4F4;}
tr.table-row0:hover td, tr.table-row1:hover td, tr.table-row0:hover td a:link, tr.table-row1:hover td a:link, tr.table-row0:hover td a:visited, tr.table-row1:hover td a:visited, .my-teams td, .my-teams a:link, .my-teams a:visited {background-color:#4A91CD; color:#FFF; text-decoration:none;}
.league-separator {border-bottom:1px dashed #222;}
.my-teams td {padding:10px 7px;}
td.up, td.down, td.same {background-position:7px center; background-repeat:no-repeat; font-weight:bold; width:26px; padding-left:25px;}
td.up {background-image:url(../img/content/up.png)}
td.down {background-image:url(../img/content/down.png);}
td.same {background-image:url(../img/content/same.png);}
td.badge, td.club {background-position:7px center; background-repeat:no-repeat;}
td.badge {padding-left:28px; background-position:7px center;}
td.club {background-size:18px 18px; padding-left:30px;}
td.total {padding-left:32px; font-weight:bold;}
td.score {width:18px; background-color:#E5E5E5; padding:10px 5px;}
td.win {font-weight:bold; background-color:#D8D8D8;}
td.lose {background-color:#ECECEC;}
td.points {max-width:10px; font-size:9px;}
tr.table-row0:hover td.badge, tr.table-row1:hover td.badge, .my-teams td.badge {background-image:url(../img/content/white-team-badge.png) !important;}
tr.table-row0:hover td.up, tr.table-row1:hover td.up, .my-teams td.up {background-image:url(../img/content/up-white.png);}
tr.table-row0:hover td.down, tr.table-row1:hover td.down, .my-teams td.down {background-image:url(../img/content/down-white.png);}
tr.table-row0:hover td.same, tr.table-row1:hover td.same, .my-teams td.same {background-image:url(../img/content/same-white.png);}
.stretch-child td.align-right, .align-right {text-align:right;}
.stretch-child td.align-center, .align-center {text-align:center;}


span.date {font-size:17px; color:#444; padding:15px 0 10px 0; margin:10px 0 0; letter-spacing:-1px; display:block;}
span.competition {padding:10px 8px; color:#555; font-size:14px; letter-spacing:-1px; background-color:#ddd; text-align:left; display:block;}
.match {margin-bottom:0 !important; display: block;}
.match span {padding-top:8px; padding-bottom:8px; display: inline-block; box-sizing: border-box; line-height:12px;}
.table-row0 {background-color:#FFF;}
.table-row1 {background-color:#F4F4F4;}
.match a:link, .match a:visited {color:#333;}
.match a:hover {text-decoration:underline;}


span.club-badge, span.score {width:6%;}
span.badge, span.club-badge {background-repeat:no-repeat;}
span.team {width: 34%; font-size: 12px; padding-left:4px; padding-right:4px;}
span.badge {padding-left:28px; background-position:7px center;}
span.club-badge {background-size:18px 18px; padding:8px 4px; background-position:center center;}
.result:hover span.score {background-color:#4A91CD; color:#FFF;}
span.score {background-color:#E5E5E5; padding:10px 0; font-size: 12px; }
span.win {font-weight:bold; background-color:#D8D8D8;}
span.lose {background-color:#ECECEC;}
span.points {padding-left:4px; padding-right:4px; width:4%; font-size:9px;}
.match:hover span.badge, .match:hover span.badge {background-image:url(../img/content/white-team-badge.png) !important;}



/* For use with fixed header on tables and scroll up function */
.container{width:100%;margin:auto;position:relative;}
.fixed {top:0; position:fixed; width:auto; display:none; border:none;}
.scroll-up {margin-top:100px; text-align:center; cursor:pointer; font-size:20px;}
/* Table Styles End */

/* Site Map */
ul.level-1 {font-weight:bold;}
ul.level-1 li {margin-bottom:10px;}
ul.list-none ul {margin-left:20px; margin-bottom:20px; font-weight:normal;}
ul.list-none ul ul {margin-left:20px;}
/* Site Map End */


/*** LAYOUT CLASSES ***/

.blue {background-color:#4A91CD;}
a.blue:hover {background-color:#669ed4;}
.orange {background-color:#B34826;}
a.orange:hover {background-color:#bc6039;}
.dark-grey {background-color:#444;}
a.dark-grey:hover {background-color:#595757;}
.grey {background-color:#666;}
a.grey:hover {background-color:#777;}
.light-grey {background-color:#CCC;}
.very-light-grey {background-color:#EEE;}
.very-very-light-grey {background-color:#F4F4F4;}
.white {background-color:#FFF;}

.no-border {border:none;}
.no-padding {padding:0;}

.float-left {float:left;}
.float-right {float:right;}

img.center {display:block; margin-left:auto; margin-right:auto;}

.margin-right {margin-right:14px;}

.stretch-parent {width:100%; margin:0 auto; text-align:justify; -ms-text-justify:distribute-all-lines; text-justify:distribute-all-lines;}
.stretch-child {vertical-align:top; display:inline-block; *display:inline; zoom:1;}
.stretch-child p, .stretch-child h2, .stretch-child h3, .stretch-child td {text-align:left;}
.stretch {width:100%; display:inline-block; font-size:0; line-height:0}

.clearfloat {clear:both; height:0; font-size:1px; line-height:0;}

a.btn, a.small-btn {font-size:15px; margin-top:10px; color:#FFF; text-align:center;}
a.btn:hover, .small-btn:hover {text-decoration:none;}
	
a.btn {display:block; padding:12px 16px;}
.small-btn {display:inline-block; padding:15px 30px;}

/* Sections */
.row {clear:both; padding:0; margin-bottom:30px;}
.row h2 {margin:0; padding:15px 10px 15px 32px; border-bottom:solid 4px #FFF; background-position:10px center; background-repeat:no-repeat; letter-spacing:-1px; font-size:20px; font-weight:300; color:#FFF;}
.row h2.news {background-image:url(../img/layout/icon-news.png);}
.row h2.results {background-image:url(../img/layout/icon-results.png);}
.row h2.fixtures {background-image:url(../img/layout/icon-fixtures.png);}
.row h2.leaderboard {background-image:url(../img/layout/icon-leaderboard.png);}
.row p {margin:0 0 10px 0; font-size:16px;}
.row p:last-child {margin-bottom:0;}
/* Sections End */

/* Column Setup */
.col-1-x-1, .col-1-x-1-5, .col-1-x-2, .col-1-x-3 {width:34%;}
.col-2-x-1, .col-2-x-1-5, .col-2-x-2, .col-2-x-3 {width:64%;}
.col-1-5-x-1 {width:49%;}
.col-3-x-1, .col-3-x-1-5, .col-3-x-2, .col-3-x-3 {width:100%;}
.col-1-x-1, .col-2-x-1, .col-1-5-x-1 {min-height:200px;}
.col-1-x-1-5, .col-2-x-1-5 {min-height:300px;}
.col-1-x-2, .col-2-x-2 {min-height:400px;}
.col-1-x-3, .col-2-x-3 {min-height:600px;}
.col-1-x-1, .col-1-x-1-5, .col-1-x-2, .col-1-x-3, .col-2-x-1, .col-2-x-1-5, .col-2-x-2, .col-2-x-3, .col-3-x-1, .col-3-x-1-5, .col-3-x-2, .col-3-x-3 {overflow:hidden;}

.col-1-x-3 div, .col-2-x-3 div {margin-bottom:20px;}
/* Column Setup End */


/*** MASTER LAYOUT ***/

header, footer {float:left; min-width:100%;}
header {border-top:5px solid #4A91CD;}
.content {max-width:1330px; margin:0 auto; padding:0 10px;}
.inner-container {padding:10px;}
header .logo {float:left; margin:17px 0 17px 10px; border:0;}
#outer {margin-right:185px;}
#main-content {margin-top:20px !important; float:left; width:100%; min-height:640px;}
#menu-bar {background-color:#222;}
#menu-bar .content {padding:0;}
#ad-bar {
	float:            right;
    height:           500px;
    width:            165px;
	margin-top:       20px;
}

/* EU Cookie Law */
#eucookielaw {display:none; background-color:#4A91CD;}
#eucookielaw .content {padding:10px;}
#eucookielaw p {color:#EEE; font-size:13px; margin:0;}
#eucookielaw a {cursor:pointer;}
#eucookielaw a:hover {text-decoration:none;}

/* Site Navigation */
nav.nav-collapse {width:auto; height:auto; margin:0 auto; padding:0; font-size:11px; text-transform:uppercase; font-weight:bold;}
nav.nav-collapse ul {width:auto; list-style:none; margin:0; padding:0; float:right; display:block;}
nav.nav-collapse li {float:left; padding:0; display:block;}
nav.nav-collapse li a {display:block; padding:12px 20px; /*border-right:1px solid #555;*/ margin:8px 0; color:#FFF;}
nav.nav-collapse li.active a {background-color:#555; padding:20px; margin:0; broder-right:none;}
nav.nav-collapse li.active a:hover {color:#FFF;}
nav.nav-collapse li a.no-border {border:none;}
nav.nav-collapse li a:link {text-decoration:none; color:#FFF;}
nav.nav-collapse li span {font-size:18px; font-weight:normal; line-height:1; text-transform:none;}
nav.nav-collapse li a:hover {color:#4A91CD;}
nav.nav-collapse li.align-right {position:relative; text-align:left;}
nav.nav-collapse li.align-right ul {right:1px; text-align:right;}
nav.nav-collapse li ul {background:#BBB; display:none; height:auto; margin:0; padding:0; border:none; position:absolute; width:180px; z-index:200; border-top:2px solid #4A91CD; -webkit-box-shadow:0 0 3px 0 #444; -moz-box-shadow:0 0 3px 0 #444; box-shadow:0 0 3px 0 #444;}
nav.nav-collapse li:hover ul {display:block;}
nav.nav-collapse li:hover ul.hidden {display:none;}
nav.nav-collapse li li {display:block; float:none; margin:0; padding:0;}
nav.nav-collapse li:hover li a {background:none; color:#222;}
nav.nav-collapse li ul a {display:block; font-size:13px; text-transform:none; font-weight:normal; font-style:normal; border-right:0; margin:0; padding:12px 20px;}
nav.nav-collapse li ul a.border-bottom {border-bottom:#888 1px solid;}
nav.nav-collapse li ul a:hover, nav.nav-collapse li ul li:hover a {background:#4A91CD; color:#FFF; text-decoration:none;}
nav.nav-collapse p {clear:left;}
nav.nav-collapse li.team-info {background:#444; color:#EEE; font-size:10px; text-transform:uppercase; padding:6px 20px; margin:0; font-weight:normal;}

/* sub sub menu */
nav.nav-collapse li:hover ul ul {display:none;}
nav.nav-collapse li ul ul {
    right:      100%;
    left:       auto;
	margin-top: -40px;
	width:      140px;}
nav.nav-collapse li ul li:hover ul {display:block;}
nav.nav-collapse li ul li ul a {font-size:12px; padding:8px 0 8px 26px;}
nav.nav-collapse li ul a:hover ul li a, nav.nav-collapse li ul li:hover ul li a {background:#CCC; color:#222;}
nav.nav-collapse li ul a ul li a:hover, nav.nav-collapse li ul li ul li:hover a {background:#4A91CD; color:#FFF;}



.js .nav-collapse {clip:rect(0 0 0 0); max-height:0; position:absolute; display:block; zoom:1;}
.nav-collapse.opened {max-height:9999px;}
.disable-pointer-events {pointer-events:none !important;}
.nav-toggle {-webkit-tap-highlight-color:rgba(0,0,0,0); -webkit-touch-callout:none; -webkit-user-select:none; -moz-user-select:none; -ms-user-select:none; -o-user-select:none; user-select:none;}

/* active and team sub menus */
#active-menu
{
	background-color: #555;
}

#active-menu ul, #team-menu ul
{
	display: block;
	width:   100%;
	height:  49px;
}

#active-menu ul li, #team-menu ul li
{
	width:  auto;
	margin: 12px 0;
}

#active-menu ul li.border
{
	border-right: 1px solid #888;
}

#active-menu ul li.border, #team-menu ul li.border, #active-menu ul li.blank, #team-menu ul li.blank
{
	width:  1px;
	height: 25px;
}

#active-menu ul li a
{
	color: #FFF;
}

#active-menu ul li a, #team-menu ul li a
{
	display:     block;
	line-height: 25px;
	font-size:   14px;
}

#active-menu ul li a:hover
{
	color: #4A91CD;
}

#active-menu ul li a:hover, #team-menu ul li a:hover
{
	text-decoration: none;
}

#team-menu
{
	background-color: #EEE;
	border-bottom:    3px solid #DDD;
	margin-bottom:    40px;
}

#team-menu ul li.border
{
	border-right: 1px solid #CCC;
}

#team-menu ul li a
{
	color: #222;
}

#team-menu ul li a:hover
{
	color: #4A91CD;
}
/* Site Navigation End */

/* Login */
#login {margin:0; width:auto; padding:15px 0;}
#login form {margin:0; width:auto;}
#login input {padding:5px; margin:0; height:25px; border:none; font-family:'Open Sans', sans-serif; float:left; cursor:pointer;}
#login input.text {color:#222; font-size:15px; margin-right:10px; width:220px; border:1px solid #FFF; line-height:25px;}
#login input.text:hover, #login input.text:focus {border:1px solid #4A91CD;}
#login .button {height:37px; width:120px;}
#login .button.float-right {margin-left:10px;}
#login p, #login .button a {line-height:37px;}
#login .button a {display:block; text-decoration:none; text-align:center;}
#login .button input, #login .button a {color:#FFF; height:100%; width:100%; font-size:12px;}
#login p {margin:0;}
#login p span {font-size:11px;}
/* Login End */

/* Breadcrumb */
#breadcrumb
{
	font-size:        13px;
	margin:           0 0 20px 0;
	background-color: #F9F9F9;
}

#breadcrumb a:link, #breadcrumb a:visited
{
	margin-right: 20px;
	color:        #333;
}

#breadcrumb a:hover
{
	text-decoration: underline;
}

#breadcrumb .crumb1
{
	background-color: #E9E9E9;
}

#breadcrumb .crumb2
{
	background-color: #D9D9D9;
}

#breadcrumb .crumb3
{
	background-color: #C9C9C9;
}

#breadcrumb .crumb4
{
	background-color: #B9B9B9;
}

#breadcrumb .crumb5
{
	background-color: #A9A9A9;
}

#breadcrumb .last-crumb
{
	background-color: #B34826;
	color:            #FFF;
	font-weight:      bold;
}

#breadcrumb .crumb1, #breadcrumb .crumb2, #breadcrumb .crumb3, #breadcrumb .crumb4, #breadcrumb .crumb5, #breadcrumb .last-crumb
{
    padding:      12px 16px;
	display:      inline-block;
    margin-right: 0 !important; 
}
/* Breadcrumb End */

/* Footer */
footer {background:#222; padding-top:50px;}
#footer-top {background:url(../img/layout/footer-grass.png) top repeat-x; height:70px;}
footer p {color:#FFF;}
footer li a:link, footer li a:visited {color:#4A91CD;}
footer h4, footer li {font-size:16px;}
footer h4 {font-weight:bold; color:#FFF; margin:0 0 20px 0; border-bottom:solid 1px #555; padding-bottom:2px; text-align:left;}
footer li {margin:0 0 10px 0; text-align:left; font-weight:300;}
footer li a:link, footer li a:visited {text-decoration:none;}
footer li a:hover {text-decoration:underline;}
footer div.stretch-child {width:30%; margin:0 0 40px 0; height:100%;}
footer p {clear:both; border-top:1px #555 solid; font-size:12px; text-align:center; margin:0; padding:10px 0;}
/* Footer End */

/* Leaderboard */
a.ldb-btn {width:59%; padding:15px 0; font-size:15px; color:#FFF; text-align:center; margin-bottom:14px;}
a.ldb-btn:hover {text-decoration:none;}
a.opaque {background-color:#EEE; color:#222; width:19%;}
a.opaque:hover {color:#FFF;}
/* Leaderboard End */


/*** MEDIA QUERIES FOR RESPONSIVE LAYOUT ***/

@media (max-width: 1200px)
{
	/* Column Setup */
	.col-1-x-1, .col-1-x-1-5, .col-1-x-2, .col-1-x-3, .col-2-x-1, .col-2-x-1-5, .col-2-x-2, .col-2-x-3 {width:49%;}
	/* Column Setup End */
}
@media (max-width: 1000px)
{
	#outer {margin-right:0;}
	#ad-bar {display:none;}

	table td {padding:7px 3px;}
	thead th span {padding:0 3px;}
	td.up, td.down, td.same {width:42px;}
	
	/* Site Navigation */
	header .logo {width:30%}
	nav.nav-collapse li a, nav.nav-collapse li.active a {padding-left:15px; padding-right:15px;}
	/* Site Navigation End */
	
	/* Login */
	#login input {padding:3px;}
	#login input.text {font-size:14px; margin-right:8px; width:200px;}
	#login .button {height:33px; width:100px;}
	#login .button.float-right {margin-left:8px;}
	#login .button a, #login p {line-height:33px;}
	/* Login End */
}
@media (max-width: 800px)
{
	table {font-size:11px;}
	
	a.btn {padding:10px; font-size:12px;}
	.small-btn {display:block; margin-bottom:20px;}
	
	/* Site Navigation */
	nav.nav-collapse li a, nav.nav-collapse li.active a {padding-left:10px; padding-right:10px;}
	nav.nav-collapse li span {font-size:15px;}
	
	#active-menu ul li a, #team-menu ul li a
	{
		font-size: 13px;
	}
	/* Site Navigation End */
	
	/* Login */
	#login input.text {font-size:13px; width:160px;}
	#login .button {width:80px;}
	/* Login End */
	
	/* Column Setup */
	.col-1-x-1, .col-2-x-1, .col-3-x-1, .col-1-x-1-5, .col-2-x-1-5, .col-3-x-1-5, .col-1-x-2, .col-2-x-2, .col-3-x-2, .col-1-x-3, .col-2-x-3, .col-3-x-3 {height:auto;}
	.col-1-x-1, .col-1-x-1-5, .col-1-x-2, .col-1-x-3, .col-2-x-1, .col-2-x-1-5, .col-2-x-2, .col-2-x-3 {width:100%;}
	.col-1-x-1, .col-1-x-1-5, .col-1-x-2, .col-1-x-3, .col-2-x-1, .col-2-x-1-5, .col-2-x-2, .col-2-x-3, .col-3-x-1, .col-3-x-1-5, .col-3-x-2, .col-3-x-3 {margin-bottom:14px;}
	
	.col-1-x-2 div {height:auto; margin-bottom:0;}
	/* Column Setup End */
	
	/* Sections */
	.row {margin-bottom:0;}
	/* Sections End */
}
@media (max-width: 675px)
{
	table {font-size:13px;}
	
	a.btn {padding:10px 16px; font-size:14px;}
	
	/* Site Navigation */
	nav.nav-collapse {font-size:10px;}
	nav.nav-collapse li span {font-size:14px;}
	nav.nav-collapse li:hover ul {display:none;}
	/* Site Navigation End */
	
	/* Login */
	#login {padding:10px 0;}
	#login input.text {margin-right:6px; width:140px;}
	#login .button {width:75px;}
	#login .button.float-right {margin-left:6px;}
	#login .button input, #login .button a {font-size:11px;}
	#login p {font-size:12px;}
	#login p span {display:none;}
	/* Login End */
	
	/* Leaderboard */
	a.ldb-btn {font-size:13px;}
	/* Leaderboard End */
}
@media (min-width: 600px)
{
	/* Site Navigation */
	.js .nav-collapse {position:relative;}
	.js .nav-collapse.closed {max-height:none;}
	.nav-toggle {display:none;}
	/* Site Navigation End */
}
@media (max-width: 600px)
{
	header .logo {width:300px;}
	
	/* Site Navigation */
	.nav-toggle {background:url(../img/layout/menu.png) no-repeat; width:30px; height:25px; display:block; float:right; margin:17px 10px 17px 0;}
	nav.nav-collapse ul {width:100%;}
	nav.nav-collapse li, nav.nav-collapse li.align-right {width:100%; text-align:center;}
	nav.nav-collapse li br {display:none;}
	
	nav.nav-collapse {font-size:14px; text-transform:none; font-weight:normal;}
	nav.nav-collapse li a {padding:12px 0; border-right:none; border-bottom:1px solid #555; margin:0;}
	nav.nav-collapse li a, nav.nav-collapse li a span {text-transform:uppercase;}
	nav.nav-collapse li span {font-size:inherit;}
	
	nav.nav-collapse li ul {background:#333; display:block; position:relative; width:100%; border-top:none; -webkit-box-shadow:none; -moz-box-shadow:none; box-shadow:none;}
	nav.nav-collapse li ul li a {border-bottom:none; background:#333;}
	nav.nav-collapse li:hover ul, nav.nav-collapse li:hover ul.hidden {display:block;}
	nav.nav-collapse li:hover ul li a {color:#FFF;}
	nav.nav-collapse li:hover ul li a:hover {color:#FFF;}
	
	nav.nav-collapse li.active a {background-color:#222;}
	nav.nav-collapse li.active ul li a {background-color:#333; font-size:13px; padding:10px 0; margin:0; border-right:none;}
	nav.nav-collapse li.active a:hover {color:#4A91CD;}
	nav.nav-collapse li.active ul a:hover {background:#4A91CD; color:#FFF; text-decoration:none;}
	
	nav.nav-collapse li ul li ul {display:none;}
	nav.nav-collapse li ul li:hover ul {display:none;}

	#active-menu {display:none;}
	/* Site Navigation End */
	
	/* Login */
	#login input.text {margin-right:4px; width:110px;}
	#login .button {width:65px;}
	#login .button.float-right {margin-left:4px;}
	#login .button input, #login .button a {font-size:10px;}
	/* Login End */
}
@media (max-width: 500px)
{
	h1 {font-size:45px;}
	.last-update {display:none;}
	#breadcrumb {font-size:12px;}
	#breadcrumb a.crumb1, #breadcrumb a.crumb2, #breadcrumb a.crumb3, #breadcrumb a.crumb4, #breadcrumb a.crumb5, #breadcrumb .last-crumb {padding: 10px 14px;}
	
	table td, thead th {font-size:11px;}
	thead th {font-weight:bold;}
	
	header .logo {width:180px;}
	
	/* Login */
	#login {padding:10px 0 5px 0;}
	#login input.text, #login .button.float-left, #login .button.float-right {-webkit-box-sizing:border-box; -moz-box-sizing:border-box; box-sizing:border-box; margin:0 0 5px 0;}
	#login input.text, #login .button.float-left {width:100%;}
	#login .button.float-right {width:50%;}
	#login .button input, #login .button a, #login p {font-size:13px;}
	#login p {margin-bottom:8px; line-height:1.4;}
	/* Login End */
	
	/* Footer */
	footer {padding-top:20px;}
	footer h4 {margin:20px 0 8px 0;}
	footer ul {margin:0 0 20px 0; height:100%; width:100%;}
	footer p {font-size:11px; padding:8px 0;}
	footer .stretch-parent {width:100%; margin:0 auto; text-align:left; -ms-text-justify:auto; text-justify:auto;}
	footer .stretch-child {vertical-align:auto; display:block; *display:block;}
	footer .stretch {display:none;}
	/* Footer End */
	
	/* Leaderboard */
	a.ldb-btn {width:58%; font-size:12px;}
	a.opaque {width:19%;}
	/* Leaderboard End */
}
@media (max-width: 400px)
{
	table td, thead th {font-size:12px;}
	table td, .my-teams td {padding:6px 2px;}
	table th {padding:6px 0;}
	thead th span {padding:0 2px;}
	th.hidden, td.hidden {display:none;}
	td.up, td.down, td.same {background-image:none; width:auto; padding-left:4px;}
	td.badge, td.club {background-image:none !important; padding-left:4px;}
	tr.table-row0:hover td.badge, tr.table-row1:hover td.badge, tr.table-row0:hover td.up, tr.table-row1:hover td.up, tr.table-row0:hover td.down, tr.table-row1:hover td.down, tr.table-row0:hover td.same, tr.table-row1:hover td.same {background-image:none;}
}