/* -------------------------
Luke Prendergast
Copyright 2015
www.thefootballfrenzy.co.uk
------------------------- */

/*
Colours
----------
*/

@blue:            #4A91CD;
@dark-grey:       #222;
@light-grey:      #CCC;
@very-light-grey: #EEE;
@orange:          #B34826;
@red:             #C52727;
