/* -------------------------
Luke Prendergast
Copyright 2014
www.thefootballfrenzy.co.uk

Colours
----------
Blue: 4A91CD
Dark Grey: 222
Light Grey: CCC
Very Light Grey: EEE
Orange: B34826
Red: C52727
------------------------- */

@charset "utf-8";

.articles {float:left; border-bottom:1px dashed #CCC; padding:20px 1%; height:160px; width:48%;}
.articles h2 {margin:0 0 8px 0;}
#main-content img {float:left; margin:0 15px 10px 0; width:150px; height:150px;}
span.date {font-size:13px; color:#444; margin:0; margin-bottom:10px; display:block;}
.comments {font-weight:bold; background:url(../img/content/news/comments.png) left center no-repeat; margin-left:25px; padding-left:20px;}