/* -------------------------
Luke Prendergast
Copyright 2014
www.thefootballfrenzy.co.uk

Colours
----------
Blue: 4A91CD
Dark Grey: 222
Light Grey: CCC
Very Light Grey: EEE
Orange: B34826
Red: C52727
------------------------- */

@charset "utf-8";

#main-content .date {margin:0 0 70px 0; font-size:14px; font-style:italic; color:#777;}
#main-content .date a {margin:0 0 0 30px; background:url(../img/content/news/comments.png) left no-repeat; padding-left:20px;}
#main-content img {float:left; margin:0 15px 10px 0;}
#main-content h1 {margin-bottom:5px;}
#main-content p.intro {font-size:22px;}
#main-content p {font-size:19px; font-weight:300;}
#main-content p strong {font-weight:700;}

#other-news {border-style:dashed; border-width:1px 0 1px 0; margin:70px 0; padding:20px 0; clear:left;}
#other-news .comment-heading2 {margin-top:0;}

.comment-heading1, .comment-heading2 {text-transform:uppercase; font-weight:normal;}
.comment-heading1 {font-size:26px; margin:60px 0 25px 0; color:#4A91CD; border-bottom:1px solid #4A91CD;}
.comment-heading2 {font-size:22px; margin:40px 0 25px 0; color:#666;}
.comment-box {position:relative; padding:15px; margin:1em 0 9px; color:#fff; background:#4A91CD; /* default background for browsers without gradient support */ /* css3 */ background:-webkit-gradient(linear, 0 0, 0 100%, from(#2e88c4), to(#4A91CD)); background:-moz-linear-gradient(#2e88c4, #4A91CD); background:-o-linear-gradient(#2e88c4, #4A91CD); background:linear-gradient(#2e88c4, #4A91CD); border-radius:4px; -moz-border-radius:4px; -webkit-border-radius:4px;}
.comment-box:after {content:""; position:absolute; bottom:-20px; /* value = - border-top-width - border-bottom-width */ left:50px; /* controls horizontal position */ border-width:20px 0 0 20px; /* vary these values to change the angle of the vertex */ border-style:solid; border-color:#4A91CD transparent; /* reduce the damage in FF3.0 */ display:block; width:0;}
.comment-name, .comment-info, .comment-date {height:30px; line-height:30px;}
.comment-name {background:#999; color:#FFF; padding:0 6px; border-radius:4px; -moz-border-radius:4px; -webkit-border-radius:4px; display:block; float:left;}
.comment-info {margin-bottom:50px; background:#F9F9F9; padding-right:10px; margin-left:80px;}
.comment-date {float:right; font-size:12px; color:#777;}