/* -------------------------
Luke Prendergast
Copyright 2014
www.thefootballfrenzy.co.uk

Colours
----------
Blue: 4A91CD
Dark Grey: 222
Light Grey: CCC
Very Light Grey: EEE
Orange: B34826
Red: C52727
------------------------- */

@charset "utf-8";

.team-info-heading, .team-info-text
{
	display:    block;
	text-align: center;
	padding:    10px 0;
	font-size:  14px;
}

.team-info-heading
{
	font-weight:      bold;
	background-color: #CCC;
}



.summary-box {background:#333; margin-bottom:24px; padding:20px; clear:left;}
.summary-box p {color:#FFF;}
.summary-box a:link, .summary-box a:visited {color:#FFF;}
.website {font-size:12px; text-align:center; margin:10px 0 0 0;}
.summary-info {margin-left:200px;}
#main-content .summary-info h3 {font-size:18px; font-weight:bold; background:none; padding:0 0 4px 0; border-bottom:1px solid #EEE; text-transform:none; margin-bottom:20px;}
#main-content .summary-info h4, #main-content .summary-info p {font-size:12px; color:#FFF; margin:0 0 13px 0; padding:0; line-height:1;}
#main-content .summary-info h4 {float:left; display:block; width:158px; font-weight:bold;}
#main-content .summary-info p {text-align:right;}

#teams h3 {margin-top:40px;}

#main-content h3.matches {background:none; color:#333; margin:20px 0 10px 0; padding:0;}





.club-logo {width:220px; background:#F9F9F9; border:1px solid #CCC; padding:10px; margin-bottom:20px; border-radius:6px;}
.club-logo img {margin:0 20px 10px 20px;}
.club-team-info h3, .club-team-info h4, .user-team-info h3, .user-team-info h4 {color:#222; font-size:13px; padding:0; margin:5px 0 0 0;}
.club-team-info p, .user-team-info p {font-size:13px; margin:0; padding:2px 0 5px 0; color:#222;font-weight:bold; }

.club-team-stats {margin-left:260px;}
.club-tables-header td {font-size:12px; font-weight:bold; text-transform:uppercase; color:#EEE; background-color:#222; padding:6px; border-bottom:solid 2px #FFF; text-align:center;}
.club-tables-rows td {font-size:12px; color:#222; background-color:#F5F5F5; padding:6px; border-bottom:solid 2px #FFF; text-align:center;}
.club-tables-total td {font-size:12px; font-weight:bold; color:#222; background-color:#CCC; padding:6px; text-align:center;}
.club-team-stats table, .user-team-stats table {/*margin-bottom:15px;*/}
.club-team-stats h3, .user-team-stats h3 {color:#222; font-size:13px; font-weight:bold; padding:0; margin-bottom:10px;}
.club-tables-team {text-align:left;}

#club-recent-info {background:#F9F9F9; margin-bottom:20px; border:1px solid #CCC; border-radius:6px; height:90px;}
.club-points {float:left; padding:4px 0 8px 0;}
.club-points h4 {font-size:13px; color:#222; padding:0 7px; margin:4px 0;}
.club-points p {font-size:12px; color:#222; padding:0 7px; line-height:1.3;}

span.inline-date, span.inline-comp {font-size: 12px;}
span.inline-comp {width:4%;}
span.inline-date {width:9%; padding-left:4px;}
span.club-badge, span.score {width:5%;}
span.team {width: 30%;}
span.points {width:3%;}
span.team.team-focus {font-weight:bold;}

a.match-won span {background-color:#6dad80;}
a.match-lost span {background-color:#D37979;}

span.match-date {font-size:35px; color:#4A91CD; margin:0 0 30px 0; letter-spacing:-2px; font-weight:300; display:block;}
